<div class="agent-page-main-content">
  <div
    class="create-user console-body-wrapper footerheight"
    data-scrollbar="true"
    tabindex="-1"
    style="overflow-y: scroll; height: 80vh; position: relative"
  >
    <div class="scroll-content">
      <div class="wider-container">
        <!-- <header class="tab-header">
          <nav>
            <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
              <button
                class="nav-link active"
                id="user-tab"
                data-bs-toggle="tab"
                data-bs-target="#user-detail"
                type="button"
                role="tab"
                aria-controls="user-detail"
                aria-selected="true"
              >
                <h6>Details</h6>
              </button>
            </div>
          </nav>
        </header> -->

        <div class="tab-body">
          <div class="tab-content" id="nav-tabContent">
            <div
              id="user-detail"
              class="tab-pane fade active show"
              role="tabpanel"
              aria-labelledby="user-tab"
            >
              <div class="row">
                <div class="col-lg-12">
                  <div class="team-detail-form-box mb-5">
                    <form [formGroup]="menuForm" class="user-detail-form">
                      <div class="floating-item mb-4">
                        <div class="form-floating mb-2">
                          <input
                            [class.is-invalid]="
                              mF['name'].invalid && mF['name'].touched
                            "
                            [class.is-valid]="
                              mF['name'].valid && mF['name'].touched
                            "
                            class="form-control"
                            id="name"
                            placeholder="Enter Name"
                            formControlName="name"
                          />
                          <label for="first-name">Name</label>
                          <div class="invalid-feedback">
                            <div *ngIf="mF['name'].errors?.['required']">
                              Stage Name is required.
                            </div>
                            <div *ngIf="mF['name'].errors?.['maxlength']">
                              Stage Name must be less than 100 characters.
                            </div>
                          </div>
                          <div class="valid-feedback">Looks good!</div>
                        </div>
                      </div>
                      <div class="floating-item mb-4">
                        <div class="form-floating mb-2">
                          <input
                            [class.is-invalid]="
                              mF['displayName'].invalid &&
                              mF['displayName'].touched
                            "
                            [class.is-valid]="
                              mF['displayName'].valid &&
                              mF['displayName'].touched
                            "
                            class="form-control"
                            id="name"
                            placeholder="Enter Name"
                            formControlName="displayName"
                          />
                          <label for="first-name">Display Name</label>
                          <div class="invalid-feedback">
                            <div *ngIf="mF['displayName'].errors?.['required']">
                              Display Name is required.
                            </div>
                            <div
                              *ngIf="mF['displayName'].errors?.['maxlength']"
                            >
                              Display Name must be less than 100 characters.
                            </div>
                          </div>
                          <div class="valid-feedback">Looks good!</div>
                        </div>
                      </div>
                      <div class="floating-item mb-4">
                        <div class="form-floating mb-2">
                          <input
                            [class.is-invalid]="
                              mF['description'].invalid &&
                              mF['description'].touched
                            "
                            [class.is-valid]="
                              mF['description'].valid &&
                              mF['description'].touched
                            "
                            class="form-control"
                            id="name"
                            placeholder="Enter Name"
                            formControlName="description"
                          />
                          <label for="first-name">Description</label>
                          <div class="invalid-feedback">
                            <div *ngIf="mF['description'].errors?.['required']">
                              Description is required.
                            </div>
                            <div
                              *ngIf="mF['description'].errors?.['maxlength']"
                            >
                              Description must be less than 200 characters.
                            </div>
                          </div>
                          <div class="valid-feedback">Looks good!</div>
                        </div>
                      </div>
                      <div class="floating-item mb-4">
                        <div class="form-floating mb-2">
                          <input
                            [class.is-invalid]="
                              mF['routeName'].invalid && mF['routeName'].touched
                            "
                            [class.is-valid]="
                              mF['routeName'].valid && mF['routeName'].touched
                            "
                            class="form-control"
                            id="routeName"
                            placeholder="Enter Name"
                            formControlName="routeName"
                          />
                          <label for="first-name">Route Name</label>
                          <div class="invalid-feedback">
                            <div *ngIf="mF['routeName'].errors?.['required']">
                              Route Name is required.
                            </div>
                            <div *ngIf="mF['routeName'].errors?.['maxlength']">
                              Route Name must be less than 100 characters.
                            </div>
                          </div>
                          <div class="valid-feedback">Looks good!</div>
                        </div>
                      </div>
                      <div class="floating-item mb-4">
                        <div class="form-floating mb-2">
                          <input
                            [class.is-invalid]="
                              mF['icon'].invalid && mF['icon'].touched
                            "
                            [class.is-valid]="
                              mF['icon'].valid && mF['icon'].touched
                            "
                            class="form-control"
                            id="icon"
                            placeholder="Enter Name"
                            formControlName="icon"
                          />
                          <label for="first-name">Icon</label>
                          <div class="invalid-feedback">
                            <div *ngIf="mF['icon'].errors?.['required']">
                              Icon is required.
                            </div>
                            <div *ngIf="mF['icon'].errors?.['maxlength']">
                              Icon must be less than 100 characters.
                            </div>
                          </div>
                          <div class="valid-feedback">Looks good!</div>
                        </div>
                      </div>
                      <div class="floating-item mb-4">
                        <div class="form-floating mb-2">
                          <select
                            class="form-select"
                            id="stateId"
                            formControlName="parentId"
                          >
                            <option disabled [value]="null">
                              Select parent
                            </option>
                            <option
                              [value]="parent.menuId"
                              *ngFor="let parent of parents"
                            >
                              {{ parent.name }}
                            </option>
                          </select>
                          <div class="valid-feedback">Looks good!</div>
                        </div>
                      </div>
                      <div class="floating-item mb-4">
                        <div class="form-floating mb-2">
                          <select
                            class="form-select"
                            id="stateId"
                            formControlName="permissionId"
                          >
                            <option disabled [value]="0">
                              Select Permission
                            </option>
                            <option
                              [value]="permission.permissionId"
                              *ngFor="let permission of permissions"
                            >
                              {{ permission.name }}
                            </option>
                          </select>
                          <div class="valid-feedback">Looks good!</div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="scrollbar-track scrollbar-track-x" style="display: none">
      <div
        class="scrollbar-thumb scrollbar-thumb-x"
        style="width: 1638px; transform: translate3d(0px, 0px, 0px)"
      ></div>
    </div>
    <div class="scrollbar-track scrollbar-track-y" style="display: block"></div>
  </div>
  <footer class="footer">
    <div class="ps-3 pe-3">
      <div
        class="icon-buttons-wrapper d-flex justify-content-between pt-3 pb-4"
      >
        <div class="row w-100">
          <div class="col-md-4"></div>
          <div class="col-md-8 justify-content-end d-flex">
            <div class="buttons-wrap d-flex">
              <button
                type="button"
                class="btn btn-outline-secondary btn-medium me-2 px-4"
                routerLink="/connect/console/menu"
              >
                Back
              </button>
              <button
                type="button"
                class="btn btn-success ms-e f-saveBtn btn-large d-none"
              ></button>
              <button
                type="button"
                class="btn skyBg ms-2 px-4 btn-medium saveBtn"
                data-bs-toggle="modal"
                data-bs-target=""
                (click)="submitForm()"
                [class.disabled]="menuForm.invalid"
              >
              Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
