<div id="signupWrapper">
  <!-- <p class="text-end px-4 py-2 m-0 top-0 end-0 position-absolute">
    Don’t have an account? <a >Sign up</a>
  </p> -->

  <aside>
    <div class="left-body">
      <div class="logo mb-5">
        <img src="./images/ibex-enteract-engage.svg" width="300" alt="" />
      </div>

      <div class="iconsbox">
        <span class="iconButton iconfacebook">
          <i class="fa-brands fa-facebook-f"></i
        ></span>
        <span class="iconButton icontiktok">
          <i class="fa-light fa-files"></i
        ></span>
        <span class="iconButton icontwitter d-none">
          <i class="fa-brands fa-twitter"></i
        ></span>
        <span class="iconButton iconwhatsapp"
          ><i class="fa-brands fa-whatsapp"></i
        ></span>
        <span class="iconButton icongoogle">
          <i class="fa-brands fa-google"></i
        ></span>
        <span class="iconButton iconyoutube">
          <i class="fa-brands fa-youtube"></i
        ></span>
        <span class="iconButton iconlinkedin"
          ><i class="fa-brands fa-linkedin-in"></i
        ></span>
        <span class="iconButton iconinstagram">
          <i class="fa-brands fa-instagram"></i
        ></span>
      </div>
      <div class="illustration">
        <img src=" ../../assets/images/illustration.svg" alt="image" />
      </div>
    </div>

    <div class="circlebg topleft"></div>
    <div class="circlebg bottomright"><p></p></div>
  </aside>
  <div class="main-body">
    <div class="login-form main-login-form agentExtensionWrapper">
      <h4>Glad to see you again!</h4>
      <h6 class="coal mb-5">Login with your enteract credentials</h6>
      <div class="form w-100">
        <form [formGroup]="loginForm" (submit)="onSubmit()">
          <div class="form-floating mb-2">
            <input
              class="form-control"
              [class.is-invalid]="
                lF['userName'].invalid && lF['userName'].touched
              "
              [class.is-valid]="lF['userName'].valid && lF['userName'].touched"
              id="register-username"
              formControlName="userName"
            />
            <label for="register-username">Username </label>
            <div class="invalid-feedback">Please enter a username</div>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="form-floating mb-3">
            <input
              [type]="show ? 'text' : 'password'"
              class="form-control"
              [class.is-invalid]="
                lF['password'].invalid && lF['password'].touched
              "
              [class.is-valid]="lF['password'].valid && lF['password'].touched"
              id="floatingInputPassword"
              formControlName="password"
            />
            <i
              style="float: right; margin-top: -30px; margin-right: 30px"
              [class]="show ? 'fa fa-eye' : 'fa fa-eye-slash'"
              (click)="password()"
            ></i>
            <label for="floatingInputPassword">Password</label>
            <div class="invalid-feedback">Please enter a Password</div>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="form-btn">
            <button
              type="submit"
              [class.disabled]="loginForm.invalid"
              class="w-100 btn loginbtn"
              id="loginBtn"
              tabindex="-1"
              role="button"
              style="color: #fff"
            >
              Login
            </button>
          </div>
        </form>

        <div class="col-12 d-flex justify-content-between mb-4">
          <!-- <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" />
            <label class="form-check-label coal" for="gridCheck">
              Remember me
            </label>
          </div> -->
          <!-- <div id="forgetpassword-link">
            <a class="forgot-password-btn">Forget Password</a>
          </div> -->
        </div>

        <!-- <div class="center-section">
          <span class="line"></span>
          <span class="or-option">OR</span>
          <span class="line"></span>
        </div> -->

        <div class="dropdown-center another-account-accordion d-none">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-light fa-circle-user pe-3"></i>
            Use Another Accont
          </button>
        </div>
        <!-- <p class="text-center">
          <a routerLink="/auth/register">Sign up</a>
        </p> -->
        <!-- <ul class="list-inline social-list d-flex align-items-center justify-content-center">
                <li class="list-inline-item">
                   <a  class="rounded-circle iconButton medium">
                      <i class="fa-brands fa-linkedin-in linkedinTxt"></i>
                   </a>
                </li>

                 <li class="list-inline-item">
                   <a  class="rounded-circle iconButton medium">
                     <img src="../../assets/images/google.svg">
                   </a>
                </li>
                 <li class="list-inline-item">
                   <a  class="rounded-circle iconButton medium">
                      <i class="fa-brands fa-facebook-f linkedinTxt"></i>
                   </a>
                </li>
              </ul> -->
      </div>
    </div>
  </div>
</div>
<app-toaster></app-toaster>
