<div class="agent-page-main-content">
  <div
    class="create-user console-body-wrapper footerheight"
    data-scrollbar="true"
    tabindex="-1"
    style="overflow-y: scroll; height: 80vh; position: relative"
  >
    <div class="scroll-content">
      <div class="wider-container">
        <!-- <header class="tab-header">
          <nav>
            <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
              <button
                class="nav-link active"
                id="user-tab"
                data-bs-toggle="tab"
                data-bs-target="#user-detail"
                type="button"
                role="tab"
                aria-controls="user-detail"
                aria-selected="true"
              >
                <h6>Details</h6>
              </button>
            </div>
          </nav>
        </header> -->
        <div class="tab-body">
          <div class="tab-content" id="nav-tabContent">
            <div
              id="user-detail"
              class="tab-pane fade active show"
              role="tabpanel"
              aria-labelledby="user-tab"
            >
              <div class="row">
                <div class="col-lg-12">
                  <div class="team-detail-form-box mb-5">
                    <form [formGroup]="categoryForm" class="user-detail-form">
                      <div class="floating-item mb-4">
                        <div class="form-floating mb-2">
                          <input
                            [class.is-invalid]="cF['categoryName'].invalid && cF['categoryName'].touched"
                            [class.is-valid]="cF['categoryName'].valid && cF['categoryName'].touched"
                            class="form-control"
                            id="categoryName"
                            placeholder="Enter categoryName"
                            formControlName="categoryName"
                          />
                          <label for="first-name">Name</label>
                          <div class="invalid-feedback">
                          <div *ngIf="cF['categoryName'].errors?.['required']">
                            Category Name is required.
                          </div>
                          <div *ngIf="cF['categoryName'].errors?.['maxlength']">
                            Category Name must be less than 100  characters.
                          </div>
                        </div>
                          <div class="valid-feedback">Looks good!</div>
                        </div>
                      </div>
                      <div class="floating-item mb-4">
                        <div class="form-floating mb-2">
                          <select
                            class="form-select"
                            id="stateId"
                            formControlName="employerId"
                          >
                          <option disabled [value]="0">Select Employer</option>
                            <option
                              [value]="er.employerId"
                              *ngFor="let er of employers"
                            >
                              {{ er.employerName }}
                            </option>
                          </select>
                          <!-- <label for="first-name">employeeTypeId</label> -->
                          <div class="invalid-feedback">
                            <div *ngIf="cF['employerId'].errors?.['required']">
                              Employer is required.
                            </div>
                          </div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                      </div>
                    </form>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <footer class="footer">
    <div class="ps-3 pe-3">
      <div
        class="icon-buttons-wrapper d-flex justify-content-between pt-3 pb-4"
      >
        <div class="row w-100">
          <div class="col-md-4"></div>
          <div class="col-md-8 justify-content-end d-flex">
            <div class="buttons-wrap d-flex">
              <button
                type="button"
                class="btn btn-outline-secondary btn-medium me-2 px-4"
                routerLink="/connect/console/categories"
              >
                Back

              </button>
              <button
                type="button"
                class="btn btn-success ms-e f-saveBtn btn-large d-none"
              ></button>
              <button
                type="button"
                class="btn skyBg ms-2 px-4 btn-medium saveBtn"
                data-bs-toggle="modal"
                data-bs-target=""
                (click)="submitForm()"
                [class.disabled]="categoryForm.invalid"
              >
                Next
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>


