<div id="signupWrapper">
   <p class="text-end px-4 py-2 m-0 top-0 end-0 position-absolute">Don’t have an account? <a >Sign up</a> </p>
   <div class="col-md-6 ">
      <aside>
         <div class="left-body">
            <div class="logo mb-5">
               <img src="./images/ibex-enteract-engage.svg" width="300" alt="">
            </div>

            <div class="iconsbox">
               <span class="iconButton iconfacebook"> <i class="fa-brands fa-facebook-f"></i></span>
               <span class="iconButton icontiktok"> <i class="fa-light fa-files"></i></span>
               <span class="iconButton icontwitter d-none"> <i class="fa-brands fa-twitter"></i></span>
               <span class="iconButton iconwhatsapp"><i class="fa-brands fa-whatsapp"></i></span>
               <span class="iconButton icongoogle"> <i class="fa-brands fa-google"></i></span>
               <span class="iconButton iconyoutube"> <i class="fa-brands fa-youtube"></i></span>
               <span class="iconButton iconlinkedin"><i class="fa-brands fa-linkedin-in"></i></span>
               <span class="iconButton iconinstagram"> <i class="fa-brands fa-instagram"></i></span>
            </div>
            <div class="illustration">
               <img src=" ../../assets/images/illustration.svg" alt="image">
            </div>
         </div>

         <div class="circlebg topleft"></div>
         <div class="circlebg bottomright">
            <p></p>
         </div>
      </aside>
   </div>


   <div class="text-center ">
      <div class="logo mb-5">
         <img src="../../assets/images/ibex-enteract-engage.svg" width="300" alt="">
      </div>
      <h4>Forget Your Password?</h4>
      <h6 class="coal mb-5 text-center">
         Enter the email you used to register on the platform
      </h6>
      <div class="form w-100">
         <div class="form-floating mb-3">
            <input class="form-control" id="username-email" placeholder="enter email or username"
               value="syed.ahmed@enteract.live">
            <label for="username-email">Type Your Email</label>
            <div class="invalid-feedback">
               Please enter a valid email
            </div>
         </div>
         <div class="form-btn d-flex justify-content-center">
            <a  type="button" class="btn btn-success col-lg-6" id="sendRequestBtn" tabindex="-1"
               role="button">Send</a>
         </div>
         <div class="justify-content-center pt-3 text-center">
            <a href="./index.html">Back to Sign in</a>
         </div>
      </div>
      <div class="login-form reset-password-form agentExtensionWrapper d-none" id="sendRequestBtn">
         <div class="logo mb-5">
            <img src="./images/ibex-enteract-engage.svg" width="300" alt="">
         </div>
         <h4>Reset Your Password</h4>
         <h6 class="coal mb-5 text-center">
            We received a request to reset your password
         </h6>
         <div class="form w-100">
            <div class="form-floating mb-3">
               <input type="password" class="form-control" id="floatingInputPassword" placeholder="Password">
               <label for="floatingInputPassword">New Password</label>
               <div id="password_msg"></div>
            </div>
            <div class="form-floating mb-3">
               <input type="password" class="form-control" id="floatingInputPassword" placeholder="Password">
               <label for="floatingInputPassword">Confirm Password</label>
               <div id="password_msg"></div>
            </div>
            <div class="form-btn d-flex justify-content-center">
               <a href="./engage/leaves.html" type="button" class="btn btn-success col-lg-6" id="loginBtn" tabindex="-1"
                  role="button">Sign In</a>
            </div>
         </div>
      </div>
   </div>




</div>