<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white">Loading...</p>
</ngx-spinner>
<div class="content-box-wrapper d-flex w-100">
  <div class="middle-content d-flex">

    <div class="page-content-wrapper">
      <div class="agent-page-main-content px-4">
        <div class="row mt-4">
          <div class="col-md-3">
            <div class="card dashboard-card">
              <div class="card-body d-flex align-items-center">
                <div class="iconButton medium me-3 skyTransBg">
                  <i class="fa-light fa-file-invoice-dollar"></i>
                </div>
                <div>
                  <p class="silver mb-1 text-uppercase">Total Expense</p>
                  <h5 class="m-0">PKR {{ totalExpense }}</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card dashboard-card">
              <div class="card-body d-flex align-items-center">
                <div class="iconButton medium me-3 successbg night">
                  <i class="fa-light fa-check"></i>
                </div>
                <div>
                  <p class="silver mb-1 text-uppercase">Approved Requests</p>
                  <h5 class="m-0">{{ approved }}</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card dashboard-card">
              <div class="card-body d-flex align-items-center">
                <div class="iconButton medium me-3 errorbg night">
                  <i class="fa-light fa-times"></i>
                </div>
                <div>
                  <p class="silver mb-1 text-uppercase">Rejected Requests</p>
                  <h5 class="m-0">{{ rejected }}</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card dashboard-card">
              <div class="card-body d-flex align-items-center">
                <div class="iconButton medium me-3 grayfilled night">
                  <i class="fa-regular fa-spinner"></i>
                </div>
                <div>
                  <p class="silver mb-1 text-uppercase">Pending Requests</p>
                  <h5 class="m-0">{{ pending }}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-container">
          <div class="row justify-content-between">
            <div class="col-md-7">
              <ul class="list-group list-group-horizontal border-0">
                <!-- <li class="list-group-item border-0 p-0 me-2">
                  <div class="icon-input">
                    <i class="fa-light fa-magnifying-glass"></i>
                    <input class="form-control" placeholder="Search.. " [(ngModel)]="text" (input)="generalFilter()" />
                  </div>
                </li>
                <li class="list-group-item border-0 p-0 me-2">
                  <div class="iconholder ms-2">
                    <input [(ngModel)]="startDate" class="form-control timepicker flatpickr-input" type="date"
                      (change)="resetEndDate()" />
                  </div>
                </li>
                <li class="list-group-item border-0 p-0 me-2">
                  <div class="iconholder ms-2">
                    <input [(ngModel)]="endDate" class="form-control timepicker flatpickr-input" type="date"
                      (change)="filterByDate()" />
                  </div>
                </li> -->
                <li class="list-group-item border-0 p-0 me-2">
                  <div class="icon-input search_field">
                    <i class="fa-light fa-magnifying-glass"></i>
                    <input
                      class="form-control"
                      placeholder="Search.. "
                      [(ngModel)]="text"
                      (input)="generalFilter()"
                    />
                  </div>
                </li>
                <li class="list-group-item border-0 ms-2 pe-0">
                  <span class="coal">From</span>
                </li>
                <li class="list-group-item border-0 p-0 me-2">
                  <div class="ms-2">
                    <input
                      [(ngModel)]="startDate"
                      class="form-control timepicker flatpickr-input"
                      value="From"
                      type="date"
                      (change)="resetEndDate()"
                    />
                  </div>
                </li>
                <li class="list-group-item border-0 ms-2 pe-0">
                  <span class="coal">To</span>
                </li>
                <li class="list-group-item border-0 p-0 mx-2">
                  <div class="ms-2">
                    <input
                      [(ngModel)]="endDate"
                      class="form-control timepicker flatpickr-input"
                      type="date"
                      (change)="filterByDate()"
                    />
                  </div>
                </li>
                <li class="list-group-item border-0 p-0 me-2">
                  <div class="dropdown w-auto">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      {{ selectedReimbursementStatus || "Status" }}
                    </button>
                    <ul class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuButton1">
                      <li *ngFor="let ls of reimbursementStatusKeys">
                        <a class="dropdown-item" (click)="filterByStatus(ls)">{{
                          ls
                          }}</a>
                      </li>
                    </ul>
                  </div>
                </li>

                <li class="list-group-item border-0 iconButton iconHover medium" aria-label="..."
                  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Refresh"
                  (click)="refreshPage()">
                  <i class="fal fa-redo-alt"></i>
                </li>

                <li
                  class="list-group-item border-top-0 iconButton medium iconHover border-bottom-0 border-start-0 after-select-fun"
                  aria-label="..." data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Delete"
                  style="display: none">
                  <i class="fal fa-trash"></i>
                </li>
              </ul>
            </div>
            <div class="col-md-5">
              <div class="filters-opt d-flex align-items-center justify-content-end">
                <!-- <a class="btn btn-success me-2" data-bs-toggle="offcanvas" href="#business-travel" role="button" aria-controls="editscheular1">
    Create Travel Expense
  </a> -->
                <div class="dropdown w-auto rounded">
                  <button class="btn iconButton iconHover medium" type="button" id="sorting1" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-regular fa-arrow-down-short-wide"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="sorting1">
                    <li class="saltBg p-2 charcoal">
                      <strong> Sort By</strong>
                    </li>
                    <li>
                      <a class="dropdown-item d-flex align-items-center" >
                        ID
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item d-flex align-items-center" >
                        Name
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item d-flex align-items-center" >
                        Status
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item d-flex align-items-center" >
                        Priority
                      </a>
                    </li>

                  </ul>
                </div>
                <div class="dropdown w-auto mx-2">
                  <button class="btn iconButton iconHover medium" type="button" id="columnssort"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-light fa-table-columns"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="columnssort">
                    <li class="saltBg p-2 charcoal">
                      <strong> Adjust Columns</strong>
                    </li>
                    <li>
                      <a class="dropdown-item d-flex align-items-center" >
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            ID
                          </label>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item d-flex align-items-center" >
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            Name
                          </label>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item d-flex align-items-center" >
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            Description
                          </label>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item d-flex align-items-center" >
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            Status
                          </label>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item d-flex align-items-center" >
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            Priority
                          </label>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item d-flex align-items-center" >
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            Date
                          </label>
                        </div>
                      </a>
                    </li>

                  </ul>
                </div>
                <div class="dropdown w-auto">
                  <button class="btn iconButton medium" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-regular fa-ellipsis"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                      <a class="dropdown-item p-1" (click)="exportData()">
                        <button class="iconButton dropdown-iconBtn small" id="dropdownMenuButton1"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa-solid fa-file-export"></i>
                        </button>Export to CSV
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>



        </div>
        <div class="query-container perfect-scrollbar" data-scrollbar="true" tabindex="-1"
          style="overflow: hidden; outline: none;">
          <div class="scroll-content">

            <div class="table-section">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th *ngFor="let column of columnNames">
                      {{ column }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of reimbursementItems; let i = index">
                    <td *ngIf="pageNumber == 1">
                      <a (click)="getReimbursementSummary(item)" data-bs-toggle="offcanvas" href="#reimbursement-detail"
                        role="button" aria-controls="reimbursement-detailLabel">{{ i + 1 }}</a>
                    </td>
                    <td *ngIf="pageNumber > 1">
                      <a (click)="getReimbursementSummary(item)" data-bs-toggle="offcanvas" href="#reimbursement-detail"
                        role="button" aria-controls="reimbursement-detailLabel">
                        {{ i + 1 + pageSize * (pageNumber - 1) }}</a>
                    </td>
                    <td *ngFor="let column of desColumns" (click)="getReimbursementSummary(item)">
                      <a>
                        <span  [ngClass]="{
                          'badge badge-md rounded-pill':
                            item[column] === 'Pending' ||
                            item[column] === 'Approved' ||
                            item[column] === 'Rejected' ||
                            item[column] === 'Canceled',
                          grayfilled: item[column] === 'Pending',
                          successbg: item[column] === 'Approved',
                          errorbg: item[column] === 'Rejected',
                          warningbg: item[column] === 'Canceled',
                          '':
                            item[column] !== 'Pending' &&
                            item[column] !== 'Approved' &&
                            item[column] !== 'Rejected' &&
                            item[column] !== 'Canceled'
                        }">
              {{ column === 'totalExpense' ? (item[column] | number) : item[column] }}
                        </span>
                      </a>
                    </td>
                    <ng-container *ngIf="item.statusId === 1; else addemptytd">
                      <td *ngIf="
            item.requestStage.status == 1;
            else addemptytd
          ">
                        <ul class="list-inline m-0">
                          <li class="list-inline-item">
                            <button class="btn iconButton small mintBg night leaveapprove" data-bs-toggle="modal"
                              data-bs-target="#approveleave" data-bs-title="Apprvove" (click)="
                  updateRequestStageId(
                    item.requestStage?.requestStageId
                  )
                ">
                              <i class="fa-light fa-check"></i>
                            </button>
                          </li>
                          <li class="list-inline-item" data-bs-toggle="modal" data-bs-target="#rejectleave">
                            <button class="btn iconButton small radicalBg night" data-bs-toggle="tooltip"
                              data-bs-placement="top" data-bs-title="Reject" (click)="
                  updateRequestStageId(
                    item.requestStage?.requestStageId
                  )
                ">
                              <i class="fa-light fa-times"></i>
                            </button>
                          </li>
                        </ul>
                      </td>
                    </ng-container>
                    <ng-template #addemptytd>
                      <td></td>
                    </ng-template>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <ng-container *ngIf="totalRecords > 10">
            <div class="me-5">
              <ul class="pagination justify-content-end">
                <li class="page-item">
                  <a class="page-link" (click)="prevPage()" [attr.disabled]="pageNumber === 1">Previous</a>
                </li>
                <li class="page-item" *ngFor="let page of totalPagesArray()">
                  <a class="page-link" (click)="changePage(page)" [class.active]="pageNumber === page"
                    [style.color]="pageNumber === page ? 'blue' : 'black'">{{ page }}</a>
                </li>
                <li class="page-item">
                  <a class="page-link" (click)="nextPage()" [attr.disabled]="pageNumber === totalPages">Next</a>
                </li>
              </ul>
            </div>
          </ng-container>
          <div class="scrollbar-track scrollbar-track-x" style="display: none;">
            <div class="scrollbar-thumb scrollbar-thumb-x"
              style="width: 1799px; transform: translate3d(0px, 0px, 0px);"></div>
          </div>
          <div class="scrollbar-track scrollbar-track-y" style="display: none;">
            <div class="scrollbar-thumb scrollbar-thumb-y"
              style="height: 144px; transform: translate3d(0px, 0px, 0px);"></div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>

<div class="modal fade" id="approveleave" tabindex="-1" aria-labelledby="approveleaveLabel" aria-modal="true"
  role="dialog">
  <form [formGroup]="teamRequestForm">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edittagsLabel">Comment</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="py-5 px-4">
            <div class="mb-3">
              <label for="" class="col-form-label">Add Notes</label>
              <textarea class="form-control" placeholder="Write Note here" style="height: 100px" spellcheck="false"
                formControlName="description"
                [class.is-invalid]="
                rF['description'].invalid && rF['description'].touched
              "
              [class.is-valid]="
                rF['description'].valid && rF['description'].touched
              ">
              </textarea>
              <div class="invalid-feedback">
                <div *ngIf="rF['description'].errors?.['maxlength']">
                  Description cannot be more than 200 characters.
                </div>
                <div *ngIf="rF['description'].errors?.['required']">
                  Description is required.
                </div>
              </div>
              <div class="valid-feedback">Looks good!</div>
            </div>
          </div>
        </div>
        <div class="modal-footer saltBg">
          <button type="button" class="btn btn-outline-secondary approveleave" data-bs-dismiss="modal"
            aria-label="Close" (click)="updateRequest(currentRequestStageId, 2)">
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal fade" id="rejectleave" tabindex="-1" aria-labelledby="rejectleaveLabel" aria-modal="true"
  role="dialog">
  <form [formGroup]="teamRequestForm">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edittagsLabel">Rejection Comment</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="py-5 px-4">
            <div class="mb-3">
              <label for="" class="col-form-label">Add Notes</label>
              <textarea class="form-control" placeholder="Write Note here" style="height: 100px" spellcheck="false"
                formControlName="description"
                [class.is-invalid]="
                rF['description'].invalid && rF['description'].touched
              "
              [class.is-valid]="
                rF['description'].valid && rF['description'].touched
              ">
              </textarea>
              <div class="invalid-feedback">
                <div *ngIf="rF['description'].errors?.['maxlength']">
                  Description cannot be more than 200 characters.
                </div>
                <div *ngIf="rF['description'].errors?.['required']">
                  Description is required.
                </div>
              </div>
              <div class="valid-feedback">Looks good!</div>
            </div>
          </div>
        </div>
        <div class="modal-footer saltBg">
          <button type="button" class="btn btn-outline-secondary closerejectleave" data-bs-dismiss="modal"
            aria-label="Close" (click)="updateRequest(currentRequestStageId, 3)">
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div [ngClass]="summaryToggle ? 'modal-backdrop fade show' : ''"></div>
<app-toaster></app-toaster>
