<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
<div class="content-box-wrapper d-flex w-100">
  <div class="middle-content d-flex">
    <div class="page-content-wrapper">
      <div class="agent-page-main-content px-4">
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="teamattendance"
            role="tabpanel"
            aria-labelledby="teamattendance-tab"
          >
            <div class="row mt-4">
              <div class="col-lg-3 col-md-6">
                <div class="card dashboard-card">
                  <div class="card-body py-4 d-flex align-items-center">
                    <div class="iconButton medium me-3 skyTransBg night">
                      <i class="fa-light fa-arrow-right-to-bracket"></i>
                    </div>
                    <div>
                      <p class="silver mb-1 text-uppercase">Total Requests</p>
                      <h5 class="m-0">{{ totalRequest }}</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="card dashboard-card">
                  <div class="card-body py-4 d-flex align-items-center">
                    <div class="iconButton medium me-3 grayfilled">
                      <i class="fa-light fa-arrow-right-from-bracket"></i>
                    </div>
                    <div>
                      <p class="silver mb-1 text-uppercase">Pending</p>
                      <h5 class="m-0">{{ pending }}</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="card dashboard-card">
                  <div class="card-body py-4 d-flex align-items-center">
                    <div class="iconButton medium me-3 successbg night">
                      <i class="fa-light fa-arrow-right-from-bracket"></i>
                    </div>
                    <div>
                      <p class="silver mb-1 text-uppercase">Approved</p>
                      <h5 class="m-0">{{ approved }}</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="card dashboard-card">
                  <div class="card-body py-4 d-flex align-items-center">
                    <div class="iconButton medium me-3 errorbg">
                      <i class="fa-light fa-arrow-right-from-bracket"></i>
                    </div>
                    <div>
                      <p class="silver mb-1 text-uppercase">Rejected</p>
                      <h5 class="m-0">{{ rejected }}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="filter-container">
              <div class="row justify-content-between">
                <div class="col-md-7">
                  <ul class="list-group list-group-horizontal border-0">
                    <!-- <li class="list-group-item border-0 p-0 me-2">
                      <div class="icon-input">
                        <i class="fa-light fa-magnifying-glass"></i>
                        <input class="form-control" placeholder="Search.. " />
                      </div>
                    </li>
                    <li class="list-group-item border-0 p-0 me-2">
                      <div class="iconholder ms-2">
                        <input
                          [(ngModel)]="startDate"
                          class="form-control timepicker flatpickr-input"
                          type="date"
                          (change)="resetEndDate()"
                        />
                      </div>
                    </li>
                    <li class="list-group-item border-0 p-0 me-2">
                      <div class="iconholder ms-2">
                        <input
                          [(ngModel)]="endDate"
                          class="form-control timepicker flatpickr-input"
                          type="date"
                          (change)="filterByDate()"
                        />
                      </div>
                    </li> -->
                    <li class="list-group-item border-0 p-0 me-2">
                      <div class="icon-input search_field">
                        <i class="fa-light fa-magnifying-glass"></i>
                        <input
                          class="form-control"
                          placeholder="Search.. "
                          [(ngModel)]="searchText"
                        />
                      </div>
                    </li>
                    <li class="list-group-item border-0 ms-2 pe-0">
                      <span class="coal">From</span>
                    </li>
                    <li class="list-group-item border-0 p-0 me-2">
                      <div class="ms-2">
                        <input
                          [(ngModel)]="startDate"
                          class="form-control timepicker flatpickr-input"
                          value="From"
                          type="date"
                          (change)="resetEndDate()"
                        />
                      </div>
                    </li>
                    <li class="list-group-item border-0 ms-2 pe-0">
                      <span class="coal">To</span>
                    </li>
                    <li class="list-group-item border-0 p-0 mx-2">
                      <div class="ms-2">
                        <input
                          [(ngModel)]="endDate"
                          class="form-control timepicker flatpickr-input"
                          type="date"
                          (change)="filterByDate()"
                        />
                      </div>
                    </li>
                    <li class="list-group-item border-0 p-0 me-2">
                      <div class="dropdown w-auto">
                        <button
                          class="btn dropdown-toggle"
                          type="button"
                          id="dropdownMenuButton1"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          Status
                        </button>
                        <ul
                          class="dropdown-menu custom-dropdown"
                          aria-labelledby="dropdownMenuButton1"
                        >
                          <li>
                            <a class="dropdown-item" >Pending </a>
                          </li>
                          <li>
                            <a class="dropdown-item" >Approved</a>
                          </li>
                          <li>
                            <a class="dropdown-item" > Rejected</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li
                      class="list-group-item border-0 iconButton iconHover medium"
                      aria-label="..."
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      data-bs-original-title="Refresh"
                    >
                      <i class="fal fa-redo-alt"></i>
                    </li>
                  </ul>
                </div>
                <div class="col-md-5">
                  <div
                    class="filters-opt d-flex align-items-center justify-content-end"
                  >
                    <div class="dropdown w-auto rounded">
                      <button
                        class="btn iconButton iconHover medium"
                        type="button"
                        id="sorting1"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="fa-regular fa-arrow-down-short-wide"></i>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="sorting1">
                        <li class="saltBg p-2 charcoal">
                          <strong> Sort By</strong>
                        </li>
                        <li *ngFor="let column of sortingColumns">
                          <a
                            class="dropdown-item d-flex align-items-center"
                            (click)="sortDataBy(column)"
                          >
                            {{ column }}
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="dropdown w-auto mx-2">
                      <button
                        class="btn iconButton iconHover medium"
                        type="button"
                        id="columnssort"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="fa-light fa-table-columns"></i>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="columnssort">
                        <li class="saltBg p-2 charcoal">
                          <strong> Adjust Columns</strong>
                        </li>
                        <li>
                          <a
                            class="dropdown-item d-flex align-items-center"

                          >
                            <div class="form-check">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                id="flexCheckDefault"
                              />
                              <label
                                class="form-check-label"
                                for="flexCheckDefault"
                              >
                                ID
                              </label>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item d-flex align-items-center"

                          >
                            <div class="form-check">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                id="flexCheckDefault"
                              />
                              <label
                                class="form-check-label"
                                for="flexCheckDefault"
                              >
                                Name
                              </label>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item d-flex align-items-center"

                          >
                            <div class="form-check">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                id="flexCheckDefault"
                              />
                              <label
                                class="form-check-label"
                                for="flexCheckDefault"
                              >
                                Description
                              </label>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item d-flex align-items-center"

                          >
                            <div class="form-check">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                id="flexCheckDefault"
                              />
                              <label
                                class="form-check-label"
                                for="flexCheckDefault"
                              >
                                Status
                              </label>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item d-flex align-items-center"

                          >
                            <div class="form-check">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                id="flexCheckDefault"
                              />
                              <label
                                class="form-check-label"
                                for="flexCheckDefault"
                              >
                                Priority
                              </label>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item d-flex align-items-center"

                          >
                            <div class="form-check">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                id="flexCheckDefault"
                              />
                              <label
                                class="form-check-label"
                                for="flexCheckDefault"
                              >
                                Date
                              </label>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="dropdown w-auto">
                      <button
                        class="btn iconButton medium"
                        type="button"
                        id="dropdownMenuButton1"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="fa-regular fa-ellipsis"></i>
                      </button>
                      <ul
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuButton1"
                      >
                        <li>
                          <a class="dropdown-item p-1" (click)="exportData()">
                            <button
                              class="iconButton dropdown-iconBtn small"
                              id="dropdownMenuButton1"
                              data-bs-toggle="dropdown"
                              aria-expanded="false"
                            >
                              <i class="fa-solid fa-file-export"></i></button
                            >Export to CSV
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="query-container perfect-scrollbar"
              data-scrollbar="true"
              tabindex="-1"
              style="overflow-y: auto; outline: none"
            >
              <div class="scroll-content">
                <div class="table-section">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th *ngFor="let column of columnNames">
                          {{ column }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let item of attendanceTeamItems; let i = index"
                      >
                        <td *ngIf="pageNumber == 1">
                          <a (click)="getTeamSummary(item,contentsummary)">{{ i + 1 }}</a>
                        </td>
                        <td *ngIf="pageNumber > 1">
                          <a (click)="getTeamSummary(item,contentsummary)">{{
                            i + 1 + pageSize * (pageNumber - 1)
                          }}</a>
                        </td>

                        <td *ngFor="let column of desColumns" (click)="getTeamSummary(item,contentsummary)">
                          <a>
                            <span
                              [ngClass]="{
                                'badge badge-md rounded-pill':
                                  item[column] === 'Pending' ||
                                  item[column] === 'Approved' ||
                                  item[column] === 'Rejected',
                                grayfilled: item[column] === 'Pending',
                                successbg: item[column] === 'Approved',
                                errorbg: item[column] === 'Rejected',
                                '':
                                  item[column] !== 'Pending' &&
                                  item[column] !== 'Approved' &&
                                  item[column] !== 'Rejected'
                              }"
                            >
                              {{ item[column] }}
                            </span>
                          </a>
                        </td>
                        <ng-container
                          *ngIf="item.status === 'Pending'; else addemptytd"
                        >
                          <td
                            *ngIf="
                              item.requestStage.status === 1;
                              else addemptytd
                            "
                          >
                            <ul class="list-inline m-0">
                              <li class="list-inline-item">
                                <button
                                  class="btn iconButton small mintBg night leaveapprove"
                                  data-bs-toggle="modal"
                                  data-bs-target="#approveattendance"
                                  data-bs-title="Apprvove"
                                  (click)="
                                    updateRequestStageId(
                                      item.requestStage?.requestStageId
                                    )
                                  "
                                >
                                  <i class="fa-light fa-check"></i>
                                </button>
                              </li>
                              <li
                                class="list-inline-item"
                                data-bs-toggle="modal"
                                data-bs-target="#rejectattendance"
                              >
                                <button
                                  class="btn iconButton small radicalBg night"
                                  data-bs-toggle="tooltip"
                                  data-bs-placement="top"
                                  data-bs-title="Reject"
                                  (click)="
                                    updateRequestStageId(
                                      item.requestStage?.requestStageId
                                    )
                                  "
                                >
                                  <i class="fa-light fa-times"></i>
                                </button>
                              </li>
                            </ul>
                          </td>
                        </ng-container>
                        <ng-template #addemptytd>
                          <td></td>
                        </ng-template>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <ng-container *ngIf="totalRecords > pageSize">
                <div class="me-5">
                  <ul class="pagination justify-content-end">
                    <li class="page-item">
                      <a class="page-link" (click)="prevPage()" [attr.disabled]="pageNumber === 1">Previous</a>
                    </li>
                    <ng-container *ngFor="let page of visiblePages()">
                      <li class="page-item" [ngClass]="{ 'disabled': page === -1 }">
                        <a class="page-link" (click)="changePage(page)" [class.active]="pageNumber === page">{{ page === -1 ? '...' : page }}</a>
                      </li>
                    </ng-container>
                    <li class="page-item">
                      <a class="page-link" (click)="nextPage()" [attr.disabled]="pageNumber === totalPages">Next</a>
                    </li>
                  </ul>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div
  [class.show]="summaryToggle"
  class="offcanvas offcanvas-small offcanvas-end"
  tabindex="-1"
  id="attendancesummary"
  aria-labelledby="approveattendanceLabel"
  aria-modal="true"
  role="dialog"
> -->
<ng-template #contentsummary let-offcanvas>

  <div class="offcanvas-header bg-light">
    <div class="row g-0 w-100">
      <div class="col-md-6 d-flex align-items-center">
        <h5 class="mb-0">Attendance Request</h5>
      </div>
      <div class="col-md-6 justify-content-end d-flex align-items-center pe-0">
        <span class="iconButton iconHower medium" (click)="closeOffset(contentsummary)"
          ><i class="fa-light fa-times"></i
        ></span>
      </div>
    </div>
  </div>
  <div class="offcanvas-body p-0">
    <div class="headerWrap py-3 px-4 mb-3">
      <div class="d-flex">
        <span class="iconButton large fw-bold me-4">
          <img
            src="../../../../../assets/images/avatar-1.png"
            class="rounded-circle img-fluid"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-title="Sannan Hussain"
            alt=""
          />
        </span>
        <div class="w-100">
          <h5 class="text-dark">{{ requesterDetails.requester }}</h5>
          <div class="row h-auto">
            <div class="col d-flex flex-column">
              <strong>{{ requesterDetails.curCheckInTime || "" }}</strong>
              <strong [style.color]="requesterDetails.existingStartTimeGap?.hours <= 0 ? 'green' : 'red'">
                {{ requesterDetails.existingStartTimeGap?.hours}}h
                {{ requesterDetails.existingStartTimeGap?.minutes}}m
              </strong>
              <small class="coal">Check In </small>
            </div>
            <div class="col d-flex flex-column text-end">
              <strong>{{ requesterDetails.curCheckOutTime  }}</strong>
              <strong [style.color]="requesterDetails.existingEndTimeGap?.hours >= 0 ? 'green' : 'red'">
                {{ requesterDetails.existingEndTimeGap?.hours}}h
                {{requesterDetails.existingEndTimeGap?.minutes}}m
              </strong>
              <small class="coal">Check Out</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list-group-section px-3 pe-3 pt-4">
      <div class="main_timeline">
        <div class="pb-3 d-flex align-items-start timeline_item">
          <div class="timeline_icon iconButton medium border">
            <i class="fa-light coal fa-user"></i>
          </div>
          <div class="ps-5 timeline_content">
            <div class="float-end d-flex align-items-center">
              <span class="iconButton iconHover medium me-2"
                ><i class="fa-light fa-message-lines"></i>
              </span>
              <span class="badge badge-md rounded-pill skyTransBg night"
                >Applied</span
              >
            </div>
            <strong>{{ requesterDetails.requester }}</strong>
            <p class="mb-1 metal">
              <small>{{ requesterDetails.appliedDate }}</small>
            </p>
            <div class="bg-light border p-3 rounded">
              <h6>Change Request</h6>
              <div class="row h-auto mt-4">
                <div class="col d-flex flex-column">
                  <strong>{{ requesterDetails.checkInTime }}</strong>
                  <strong [style.color]="requesterDetails.startTimeGap?.hours <= 0 ? 'green' : 'red'">
                    {{ requesterDetails.startTimeGap?.hours}}h
                    {{ requesterDetails.startTimeGap?.minutes}}m
                  </strong>
                  <small class="coal">Check In </small>
                </div>
                <!-- <div class="col d-flex flex-column text-center">
                  <strong class="badge iceBg night rounded-pill"
                    >+1h 30m
                  </strong>
                </div> -->
                <div class="col d-flex flex-column text-center">
                  <strong [style.color]="requesterDetails.extraHours?.hours >= 0 ? 'green' : 'red'">
                    {{ requesterDetails.extraHours?.hours }}h
                    {{ requesterDetails.extraHours?.minutes }}m
                    </strong>
                </div>
                <div class="col d-flex flex-column text-end">
                  <strong>{{ requesterDetails.checkOutTime }}</strong>
                  <strong [style.color]="requesterDetails.endTimeGap?.hours >= 0 ? 'green' : 'red'">
                    {{ requesterDetails.endTimeGap?.hours}}h
                    {{requesterDetails.endTimeGap?.minutes}}m
                  </strong>
                  <small class="coal">Check Out</small>
                </div>
                <div class="col-12 d-flex flex-column text-center">
                  <strong
                    >{{ requesterDetails.shiftHours?.hours }} Hours and
                    {{ requesterDetails.shiftHours?.minutes }} mins</strong
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="pb-3 d-flex align-items-start timeline_item"
          *ngFor="let stage of requestStages"
        >
          <div
            class="timeline_icon iconButton medium border"
            [ngClass]="{ mintBg: stage.status === 1 }"
          >
            <i class="fa-light fa-user-tie"></i>
          </div>
          <div class="ps-5 timeline_content">
            <div class="float-end d-flex align-items-center">
              <span class="iconButton iconHover medium me-2"
                ><i class="fa-light fa-message-lines"></i>
              </span>
              <span
                *ngIf="stage.status === 1"
                class="badge badge-md rounded-pill grayfilled"
              >
                Pending
              </span>
              <span
                *ngIf="stage.status === 2"
                class="badge badge-md rounded-pill successbg"
                >Approved</span
              >

              <span
                *ngIf="stage.status === 3"
                class="badge badge-md rounded-pill errorbg"
              >
                Rejected
              </span>
            </div>
            <strong>{{ stage.approver }}<small></small> </strong>
            <p class="mb-1 metal">
              <small>{{ stage.modifiedDate }}</small>
            </p>
            <div
              class="bg-light border p-3 rounded"
              *ngIf="stage.description !== ''"
            >
              {{ stage.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="summaryItem.status !== 'Canceled'&&summaryItem.status !== 'Rejected'">
    <footer
      class="bg-light p-3 text-end pe-5"
      *ngIf="summaryItem.requestStage?.status === 1"
    >
      <button
        class="btn btn-primary leaveapprove btn-small"
        data-bs-toggle="modal"
        data-bs-placement="top"
        data-bs-target="#approveattendance"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
        style="margin-right: 10px"
      >
        Approve
      </button>
      <button
        class="btn btn-outline-danger btn-small"
        data-bs-toggle="modal"
        data-bs-placement="top"
        data-bs-target="#rejectattendance"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      >
        Reject
      </button>
    </footer>
  </ng-container>
</ng-template>
<!-- </div> -->

<div
  class="modal fade"
  id="approveattendance"
  tabindex="-1"
  aria-labelledby="approveattendanceLabel"
  aria-modal="true"
  role="dialog"
>
  <form [formGroup]="teamRequestForm">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edittagsLabel">Comment</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <div class="py-5 px-4">
            <div class="mb-3">
              <label for="" class="col-form-label">Add Notes</label>
              <textarea
                class="form-control"
                placeholder="Write Note here"
                style="height: 100px"
                spellcheck="false"
                formControlName="description"
                [class.is-invalid]="
                rF['description'].invalid && rF['description'].touched
              "
              [class.is-valid]="
                rF['description'].valid && rF['description'].touched
              "
              >
              </textarea>
              <div class="invalid-feedback">
                <div *ngIf="rF['description'].errors?.['maxlength']">
                  Description cannot be more than 200 characters.
                </div>
                <div *ngIf="rF['description'].errors?.['required']">
                  Description is required.
                </div>
              </div>
              <div class="valid-feedback">Looks good!</div>
            </div>
          </div>
        </div>
        <div class="modal-footer saltBg">
          <button
            type="button"
            class="btn btn-outline-secondary approveleave"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="updateRequest(currentRequestStageId, 2,contentsummary)"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div
  class="modal fade"
  id="rejectattendance"
  tabindex="-1"
  aria-labelledby="rejectattendanceLabel"
  aria-modal="true"
  role="dialog"
>
  <form [formGroup]="teamRequestForm">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edittagsLabel">Rejection Comment</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <div class="py-5 px-4">
            <div class="mb-3">
              <label for="" class="col-form-label">Add Notes</label>
              <textarea
                class="form-control"
                placeholder="Write Note here"
                style="height: 100px"
                spellcheck="false"
                formControlName="description"
                [class.is-invalid]="
                rF['description'].invalid && rF['description'].touched
              "
              [class.is-valid]="
                rF['description'].valid && rF['description'].touched
              "
              >
              </textarea>
              <div class="invalid-feedback">
                <div *ngIf="rF['description'].errors?.['maxlength']">
                  Description cannot be more than 200 characters.
                </div>
                <div *ngIf="rF['description'].errors?.['required']">
                  Description is required.
                </div>
              </div>
              <div class="valid-feedback">Looks good!</div>
            </div>
          </div>
        </div>
        <div class="modal-footer saltBg">
          <button
            type="button"
            class="btn btn-outline-secondary closerejectleave"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="updateRequest(currentRequestStageId, 3,contentsummary)"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<app-toaster></app-toaster>
