<div class="agent-page-main-content">
    <div
      class="create-user console-body-wrapper footerheight"
      data-scrollbar="true"
      tabindex="-1"
      style="overflow-y: scroll; height: 80vh; position: relative"
    >
      <div class="scroll-content">
        <div class="wider-container">
          <div class="tab-body">
            <div class="tab-content" id="nav-tabContent">
              <div
                id="user-detail"
                class="tab-pane fade active show"
                role="tabpanel"
                aria-labelledby="user-tab"
              >
                <div class="row">
                  <div class="col-lg-12">
                    <div class="team-detail-form-box mb-5">
                      <form [formGroup]="expenseTypeForm" class="user-detail-form">
                        <div class="floating-item mb-4">
                          <div class="form-floating mb-2">
                            <input
                              [class.is-invalid]="lF['name'].invalid && lF['name'].touched"
                              [class.is-valid]="lF['name'].valid && lF['name'].touched"
                              class="form-control"
                              id="name"
                              placeholder="Enter Name"
                              formControlName="name"
                            />
                            <label for="first-name">Name</label>
                            <div class="invalid-feedback">
                              <div *ngIf="lF['name'].errors?.['required']">
                                Expense Type Name is required.
                              </div>
                              <div *ngIf="lF['name'].errors?.['maxlength']">
                                Expense Type must be less than 100 characters.
                              </div>
                            </div>
                            <div class="valid-feedback">Looks good!</div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scrollbar-track scrollbar-track-x" style="display: none">
        <div
          class="scrollbar-thumb scrollbar-thumb-x"
          style="width: 1638px; transform: translate3d(0px, 0px, 0px)"
        ></div>
      </div>
      <div class="scrollbar-track scrollbar-track-y" style="display: block"></div>
    </div>
    <footer class="footer">
      <div class="ps-3 pe-3">
        <div
          class="icon-buttons-wrapper d-flex justify-content-between pt-3 pb-4"
        >
          <div class="row w-100">
            <div class="col-md-4"></div>
            <div class="col-md-8 justify-content-end d-flex">
              <div class="buttons-wrap d-flex">
                <button
                  type="button"
                  class="btn btn-outline-secondary btn-medium me-2 px-4"
                  routerLink="/connect/console/expense-types"
                >
                  Back
                </button>
                <button
                  type="button"
                  class="btn btn-success ms-e f-saveBtn btn-large d-none"
                ></button>
                <button
                  type="button"
                  class="btn skyBg ms-2 px-4 btn-medium saveBtn"
                  data-bs-toggle="modal"
                  data-bs-target=""
                  (click)="submitForm()"
                  [class.disabled]="expenseTypeForm.invalid"
                >
                Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  