<div class="content-box-wrapper d-flex w-100">
  <div class="middle-content d-flex">
    <div class="page-content-wrapper dashboard">
      <div class="w-100 inbox-container px-3">
        <div
          class="list-group-section pe-3 pt-4 page-scroll"
          data-scrollbar="true"
          tabindex="-1"
          style="overflow: auto; outline: none"
        >
          <div class="scroll-content">
            <div class="main_timeline">
              <div class="pb-3 d-flex align-items-start timeline_item">
                <div class="timeline_icon iconButton medium border">
                  <i class="fa-light coal fa-file-contract"></i>
                </div>
                <div class="ps-5 timeline_content">
                  <small class="float-end silver">3d</small>
                  <strong>23 January 2023</strong>
                  <p class="mb-1">
                    <strong>Tahir Ahmad</strong> requalified the candidate for
                    the talent pool <strong>Next recruitment - Q3.</strong>
                  </p>
                </div>
              </div>
              <div class="pb-3 d-flex align-items-start timeline_item">
                <div class="timeline_icon iconButton medium border">
                  <i class="fa-light coal fa-ticket"></i>
                </div>
                <div class="ps-5 timeline_content">
                  <small class="float-end silver">3d</small>
                  <strong>23 January 2023</strong>
                  <p class="mb-1">
                    <strong>Tahir Ahmad</strong>
                    disqualified the candidate with the reason
                    <strong>Not a fit</strong> in the talent pool
                    <strong> Next recruitment - Q3.</strong>
                  </p>
                </div>
              </div>
              <div class="pb-3 d-flex align-items-start timeline_item">
                <div class="timeline_icon iconButton medium border">
                  <i class="fa-light coal fa-ticket"></i>
                </div>
                <div class="ps-5 timeline_content">
                  <small class="float-end silver">3d</small>
                  <strong>16 January 2023</strong>
                  <p class="mb-1">
                    <strong>Tahir Ahmad</strong> re-scheduled a(n)
                    <strong>On-site interview </strong> to
                    <strong>
                      28 Jan 2023 11:21 AM - 11:51 AM (GMT+05:00).</strong
                    >
                  </p>
                </div>
              </div>
              <div class="pb-3 d-flex align-items-start timeline_item">
                <div class="timeline_icon iconButton medium border">
                  <i class="fa-light coal fa-ticket"></i>
                </div>
                <div class="ps-5 timeline_content">
                  <small class="float-end silver">12d</small>
                  <strong>16 January 2023</strong>
                  <p class="mb-1">
                    <strong>Tahir Ahmad</strong> completed the task and
                    <strong>start the interview.</strong>
                  </p>
                </div>
              </div>
              <div class="pb-3 d-flex align-items-start timeline_item">
                <div class="timeline_icon iconButton medium border">
                  <i class="fa-light coal fa-file-contract"></i>
                </div>
                <div class="ps-5 timeline_content">
                  <small class="float-end silver">3d</small>
                  <strong>23 January 2023</strong>
                  <p class="mb-1">
                    <strong>Tahir Ahmad</strong> requalified the candidate for
                    the talent pool <strong>Next recruitment - Q3.</strong>
                  </p>
                </div>
              </div>
              <div class="pb-3 d-flex align-items-start timeline_item">
                <div class="timeline_icon iconButton medium border">
                  <i class="fa-light coal fa-ticket"></i>
                </div>
                <div class="ps-5 timeline_content">
                  <small class="float-end silver">3d</small>
                  <strong>23 January 2023</strong>
                  <p class="mb-1">
                    <strong>Tahir Ahmad</strong>
                    disqualified the candidate with the reason
                    <strong>Not a fit</strong> in the talent pool
                    <strong> Next recruitment - Q3.</strong>
                  </p>
                </div>
              </div>
              <div class="pb-3 d-flex align-items-start timeline_item">
                <div class="timeline_icon iconButton medium border">
                  <i class="fa-light coal fa-ticket"></i>
                </div>
                <div class="ps-5 timeline_content">
                  <small class="float-end silver">3d</small>
                  <strong>16 January 2023</strong>
                  <p class="mb-1">
                    <strong>Tahir Ahmad</strong> re-scheduled a(n)
                    <strong>On-site interview </strong> to
                    <strong>
                      28 Jan 2023 11:21 AM - 11:51 AM (GMT+05:00).</strong
                    >
                  </p>
                </div>
              </div>
              <div class="pb-3 d-flex align-items-start timeline_item">
                <div class="timeline_icon iconButton medium border">
                  <i class="fa-light coal fa-ticket"></i>
                </div>
                <div class="ps-5 timeline_content">
                  <small class="float-end silver">12d</small>
                  <strong>16 January 2023</strong>
                  <p class="mb-1">
                    <strong>Tahir Ahmad</strong> completed the task and
                    <strong>start the interview.</strong>
                  </p>
                </div>
              </div>
              <div class="pb-3 d-flex align-items-start timeline_item">
                <div class="timeline_icon iconButton medium border">
                  <i class="fa-light coal fa-file-contract"></i>
                </div>
                <div class="ps-5 timeline_content">
                  <small class="float-end silver">3d</small>
                  <strong>23 January 2023</strong>
                  <p class="mb-1">
                    <strong>Tahir Ahmad</strong> requalified the candidate for
                    the talent pool <strong>Next recruitment - Q3.</strong>
                  </p>
                </div>
              </div>
              <div class="pb-3 d-flex align-items-start timeline_item">
                <div class="timeline_icon iconButton medium border">
                  <i class="fa-light coal fa-ticket"></i>
                </div>
                <div class="ps-5 timeline_content">
                  <small class="float-end silver">3d</small>
                  <strong>23 January 2023</strong>
                  <p class="mb-1">
                    <strong>Tahir Ahmad</strong>
                    disqualified the candidate with the reason
                    <strong>Not a fit</strong> in the talent pool
                    <strong> Next recruitment - Q3.</strong>
                  </p>
                </div>
              </div>
              <div class="pb-3 d-flex align-items-start timeline_item">
                <div class="timeline_icon iconButton medium border">
                  <i class="fa-light coal fa-ticket"></i>
                </div>
                <div class="ps-5 timeline_content">
                  <small class="float-end silver">3d</small>
                  <strong>16 January 2023</strong>
                  <p class="mb-1">
                    <strong>Tahir Ahmad</strong> re-scheduled a(n)
                    <strong>On-site interview </strong> to
                    <strong>
                      28 Jan 2023 11:21 AM - 11:51 AM (GMT+05:00).</strong
                    >
                  </p>
                </div>
              </div>
              <div class="pb-3 d-flex align-items-start timeline_item">
                <div class="timeline_icon iconButton medium border">
                  <i class="fa-light coal fa-ticket"></i>
                </div>
                <div class="ps-5 timeline_content">
                  <small class="float-end silver">12d</small>
                  <strong>16 January 2023</strong>
                  <p class="mb-1">
                    <strong>Tahir Ahmad</strong> completed the task and
                    <strong>start the interview.</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
