.button2 {
    background-color:#fdf3ee;
    color: black;
    border: 2px solid #008CBA;
  }

  .button2:hover {
    background-color: #008CBA;
    color: white;
  }

  .badgebg {
    background-color: #008CBA;
    color: white;
  }
